body {
    font-family: sans-serif;
    text-align: center;
}

#game-container {
    margin: 40px auto;
    width: 1250px;
    border: 2px solid #ccc;
    padding: 40px;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

#question {
    font-size: 40px;
    margin-bottom: 20px;
}

button {
    margin: 20px 40px;
    font-size: 30px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
}

#restart {
    background-color: red;
    font-weight: bold;
    margin-top: 40px;
}